-- Function to easily promote user role by email
CREATE OR REPLACE FUNCTION set_admin_role_by_email(p_email TEXT, p_role TEXT)
RETURNS TEXT
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    target_user_id UUID;
    rows_affected INTEGER;
BEGIN
    IF p_role NOT IN ('admin', 'user') THEN
        RETURN 'Invalid role: Must be admin or user';
    END IF;

    -- Look up the user id from auth.users securely
    SELECT id INTO target_user_id FROM auth.users WHERE email = p_email LIMIT 1;

    IF target_user_id IS NULL THEN
        RETURN 'User not found';
    END IF;

    -- Update the role in profiles
    UPDATE public.profiles SET role = p_role WHERE id = target_user_id;
    GET DIAGNOSTICS rows_affected = ROW_COUNT;

    IF rows_affected > 0 THEN
        RETURN 'Success';
    ELSE
        RETURN 'Failed to update profile (profile might not exist)';
    END IF;
END;
$$;
