CREATE TABLE IF NOT EXISTS public.shipping_config (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    destination TEXT UNIQUE NOT NULL,
    fee DECIMAL(10,2) DEFAULT 0,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT now()
);

INSERT INTO public.shipping_config (destination, fee, is_active)
VALUES 
    ('kerala', 50.00, true),
    ('rest_of_india', 80.00, true),
    ('international', 2000.00, false)
ON CONFLICT (destination) DO UPDATE SET 
    fee = EXCLUDED.fee,
    is_active = EXCLUDED.is_active;

ALTER TABLE public.shipping_config ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Public shipping configs are viewable by everyone." ON public.shipping_config FOR SELECT USING (true);
CREATE POLICY "Only admins can manage shipping configs" ON public.shipping_config FOR ALL USING (
    EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin')
);

ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS shipping_fee DECIMAL(10,2) DEFAULT 0;

