CREATE OR REPLACE FUNCTION place_order(
    p_user_id UUID, p_email TEXT, p_phone TEXT, p_name TEXT,
    p_shipping JSONB, p_subtotal DECIMAL, p_discount DECIMAL,
    p_coupon TEXT, p_shipping_fee DECIMAL, p_total DECIMAL, p_items JSONB
)
RETURNS UUID LANGUAGE plpgsql SECURITY DEFINER AS \$\$
DECLARE
    new_order_id UUID;
    item JSONB;
BEGIN
    INSERT INTO public.orders (
        user_id, customer_email, customer_phone, customer_name,
        shipping_address, subtotal, discount_amount, coupon_code, shipping_fee, total_amount, payment_status, items
    ) VALUES (
        p_user_id, p_email, p_phone, p_name,
        p_shipping, p_subtotal, p_discount, p_coupon, p_shipping_fee, p_total, 'pending', p_items
    ) RETURNING id INTO new_order_id;

    FOR item IN SELECT * FROM jsonb_array_elements(p_items) LOOP
        -- Remove the stock >= quantity restriction so paid orders are never dropped
        UPDATE public.products 
        SET stock = stock - (item->>'quantity')::INT 
        WHERE id = (item->>'product_id')::UUID;
    END LOOP;
    
    RETURN new_order_id;
END;
\$\$;

